@use 'variables' as *;

.card-collection-wrapper {
    // border: 1px solid black;
    width: 100%;
    height: 100%;

    display: flex;
    gap: 24px;


    &__left-section {
        width: calc(100% - 500px);
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow: scroll;

        .add-ons-wrapper {
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            gap: 16px;

            &__label {
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 24px;
                color: $color-000000;
            }

            &__estimation-container {
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                gap: 10px;

            }
        }

        .custom-discount-wrapper {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin: 0 0 24px 0;

            &__label {
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 24px;
                color: $color-000000;
            }
        }
    }


    &__right-section {
        // border: 1px solid blue;
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .quotation-download-wrapper {
            background: $color-FFFFFF;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 16px;
            font-family: 'Inter', sans-serif;

            .label {
                font-weight: 500;
                font-size: 11px;
                color: $color-1F2937;
            }

            .input-wrapper {
                border: 1px solid #DDE1E6;
                outline: none;
                width: 100%;
                height: 34px;
                padding: 5px 16px;
                font-size: 14px;
                border-radius: 25px;
                margin: 0 0 16px 0;
            }

            .timing-quotation {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                padding: 0 0 20px 0;

                .label {
                    font-weight: 500;
                    font-size: 14px;
                    color: $color-1F2937;
                }

                .radio-btn-container {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            .download-quotation-wrapper {
                width: 100%;
                height: 46px;
                border: none;
                border-radius: 12px;
                font-weight: 600;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                color: $color-FFFFFF;
                transition: background-color 0.3s ease-in-out;

                &.active-button {
                    background-color: rgba($color-FD755E, 1);
                    cursor: pointer;
                }

                &.inactive-button {
                    background-color: rgba($color-FD755E, 0.5);
                    cursor: not-allowed;

                }
            }
        }
    }
}