/*
    =========================================================
    * MOPID Pricing Calculator Variables
    =========================================================
*/

/* Color Palette */

$color-FFFFFF: #FFFFFF;
$color-000000: #000000;
$color-1E1E1E: #1E1E1E;
$color-FD755E: #FD755E;
$color-FFEBE7: #FFEBE7;
$color-ECECEC: #ECECEC;
$color-D8D8D8: #D8D8D8;
$color-1F2937: #1F2937;
$color-374151: #374151;
$color-FAFAFA: #FAFAFA;
$color-DDE1E6: #DDE1E6;
$color-EEEEF0: #EEEEF0;
$color-5F6377: #5F6377
