@use 'variables' as *;

.header-wrapper {
    width: 100%;
    height: 72px;
    background-color: $color-FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 24px;

    &__left-section {
        display: flex;
        align-items: center;
        gap: 17px;

        &__division {
            height: 24px;
            width: 1px;
            background-color: $color-D8D8D8;
            border-radius: 2px;
        }

        &__header-label {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 22px;
            color: $color-1E1E1E;
        }
    }
    
    &__right-section {
        border: 1px solid red;
    }
}